{
	"extends": "@10up/eslint-config",
	"globals": {
		"module": true,
		"process": true,
		"wp": true,
		"lodash": true
	},
	"rules": {
		"no-constant-binary-expression": 0,
		"no-nonoctal-decimal-escape": 0,
		"no-unsafe-optional-chaining": 0,
		"security/detect-object-injection": 0
	}
}
